/* IMPOSTAZIONI GENERALI */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
/* HEADER */
header img {width: 200px;}
.head {text-align: center;background-color: 
    #0088AA;color: white;}
    
/* MAIN */
.container {width: 500px;}
/* ELEMENTI NEL MAIN - ARTICLE */

/* TABELLE */

/* FORM */

/* ELEMENTI NELL' ASIDE */

/* FOOTER */
